*, html {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
li {
    margin-top: 10px;
}
.blue {
    background: #007fff;
    height: 100%;
    width: 100%;
    padding: 20px;
}
.loginBox {
    width: 400px;
    height: 400px;
    /* background: #ccc; */
    margin: 100px auto;
    border: 1px solid #ccc;
    padding: 0 15px;
}

